<form name="form" #f="ngForm">
  <div class="row step2container">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="form-group">
        <label class="title">Product Name</label> <br />
        <label class="subTitle">Add a name to describe what your customers will subscribe to</label> <br />
        <input
          type="text"
          class="productInput"
          name="productName"
          placeholder="Enter your product name"
          [(ngModel)]="model.productName"
          #productName="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && f.productName.errors }"
          required
          minlength="2"
        />
        <br />
        <div class="notifyMsg" [hidden]="!productName.errors?.required">Product name is required!</div>
      </div>
      <div class="form-group">
        <label class="title">Billing Model Name</label> <br />
        <label class="subTitle">Add a name that describes your pricing plan</label> <br />
        <input
          type="text"
          class="productInput"
          name="billingModelName"
          placeholder="Choose a Billing Model Name"
          [(ngModel)]="model.billingModelName"
          #billingModelName="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && f.billingModelName.errors }"
          required
          minlength="2"
        />
        <br />
        <div class="notifyMsg" [hidden]="!billingModelName.errors?.required">Billing model name is required!</div>
      </div>
      <div class="form-group">
        <label class="title">Billing Model Description</label> <br />
        <label class="subTitle">Explain briefly what this pricing plan offers.</label> <br />
        <textarea
          class="inputDes"
          name="billModelDes"
          placeholder="What does your billing model?"
          [(ngModel)]="model.billModelDes"
          #billModelDes="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && f.billModelDes.errors }"
          required
          minlength="2"
          maxlength="140"
        ></textarea
        ><br />
        <div class="notifyMsg" [hidden]="!billModelDes.errors?.required">Product name is required!</div>
        <label class="char-msg">140 characters</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div><img src="../../../assets/images/mobile.png" class="mobile" /></div>
    </div>
    <div class="row">
      <div class="back"><button type="back" class="btn btn-default">Back</button></div>
      <div class="continue">
        <button [disabled]="!f.form.valid" type="continue" class="btn btn-default" href="" routerLink="/billing/step3">
          Continue
        </button>
      </div>
    </div>
  </div>
</form>
