<form #bookForm="ngForm">
  <div class="row step2container">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <div class="form-group">
        <label class="title">Product Name</label><br />
        <label class="subTitle">Add a name to describe what your customers will subscribe to</label><br />
        <input
          class="input"
          id="product"
          placeholder="Enter your product name"
          required
          minlength="2"
          [(ngModel)]="model.product"
          name="product"
          #product="ngModel"
        />
        <br />
        <div *ngIf="product.errors && (product.dirty || product.touched)" class="alert alert-danger">
          <div [hidden]="!product.errors.required">Product name is required!</div>
          <div [hidden]="!product.errors.minlength">Product name must be at least 2 characters long!</div>
        </div>
      </div>
      <label class="title">Billing Model Name</label><br />
      <label class="subTitle">Add a name that describes your pricing plan</label><br />
      <input class="input" placeholder="Choose a Billing Model Name" required minlength="2" /><br />
      <label class="title">Billing Model Description</label><br />
      <label class="subTitle">Explain briefly what this pricing plan offers.</label><br />
      <textarea
        class="inputDes"
        placeholder="What does your billing model?"
        required
        minlength="2"
        maxlength="140"
      ></textarea
      ><br />
      <label class="char-msg">140 characters</label>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div><img src="../../../assets/images/mobile.png" class="mobile" /></div>
    </div>
    <div class="row">
      <div class="back"><button type="back" class="btn btn-default">Back</button></div>
      <div class="continue"><button type="continue" class="btn btn-default">Continue</button></div>
    </div>
  </div>
</form>
