<div *ngIf="show1">
  <div class="billingModelContainer">
    <div class="bm-header">Billing Models</div>
    <div class="bm-main flex-center-center">
      <div class="noBilling">
        <img src="assets/images/billing-img.png" class="billingImg" width="120" />
        <button href="" routerLink="/billing/step1"><img src="assets/images/plus.svg" /> BILLING MODEL</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="show2">
  <div class="billingModelContainer">
    <div class="bm-header">
      <div class="row">
        <div class="col">Billing Models</div>
        <div class="col text-right">
          <button href="" routerLink="/billing/step1"><img src="assets/images/plus.svg" /> NEW</button>
        </div>
      </div>
    </div>
    <div class="bm-main flex-center-center">
      <div class="billingBoxCont">
        <div *ngFor="let array of sample" class="col-xs-12 col-sm-3 col-md-4 single-class">
          <div class="billingBox active">
            <div class="boxHead">
              <div class="ImgCont"><img src="assets/images/refresh.svg" width="15" /></div>
              SINGLE
              <!-- <div class="noBilling"> -->
              <img src="assets/images/3Dotted.png" class="billingImg1" width="10" />
              <!-- </div> -->
            </div>

            <div class="boxCont">
              <div class="pad-l-20">
                <p>
                  {{ array.title }} <br />
                  <span>{{ array.description }}</span>
                </p>
                <a href="">1 day</a>
              </div>
              <div class="large">
                <div>
                  <div class="ImgCont"><img src="assets/images/refresh-b.svg" width="18" /></div>

                  {{ array.currency | CustomeCurrency }}{{ array.amount }}
                </div>
              </div>
              <div class="footerText">
                <p>PMA 309,028.18</p>
                <span>Subscribers 2.1K</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
