<div class="billingModelContainer">
  <div class="bm-header">
    Billing Models
  </div>
  <div class="bm-main flex-center-center">
    <div class="noBilling">
      <img src="assets/images/billing-img.png" class="billingImg" width="120" />
      <button><img src="assets/images/plus.svg" /> BILLING MODEL</button>
    </div>
    
  </div>
</div>

<div class="billingModelContainer">
    <div class="bm-header">
      Billing Models
    </div>
    <div class="bm-main flex-center-center">
      
      <div class="billingBoxCont">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3">
              <div class="billingBox">
                <div class="boxHead">
                  <div class="ImgCont"><img src="assets/images/refresh.svg" width="12"/></div>
                  RECURRING
                </div>
                <div class="boxCont">
                  <div class="pad-l-20">
                    <p>Product <br/><span>Platinum</span></p>
                    <a href="">1 year</a>
                  </div>

                  <div>
                      <div class="ImgCont"><img src="assets/images/refresh.svg" width="12"/></div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
              <div class="billingBox">
                <div class="boxHead">
                  
                </div>
                <div class="boxCont">
      
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
              <div class="billingBox">
                <div class="boxHead">
      
                </div>
                <div class="boxCont">
      
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3">
              <div class="billingBox">
                <div class="boxHead">
      
                </div>
                <div class="boxCont">
      
                </div>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>