<div class="billingModelContainer">
  <div class="bm-header"><b>Billing Model Overview</b></div>

  <div class="bm-main flex-center-center">
    <div class="billingBoxCont">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 single-class">
          <div class="billingBox active">
            <div class="boxHead">
              <div class="ImgCont"><img src="assets/images/refresh.svg" width="15" /></div>
              <span>RECURRING</span>
            </div>

            <div class="boxCont">
              <div class="pad-l-20">
                <p>
                  Product<br />
                  <span>Platinum</span>
                </p>
                <a href="">1 year</a>
              </div>
              <div class="large">
                <div>
                  <div class="ImgCont"><img src="assets/images/refresh-b.svg" width="18" /></div>
                  $99.999
                </div>
              </div>
              <div class="footerText">
                <p>PMA 309,028.18</p>
                <span>Subscribers 3.5k</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 cols-md-9">
          <div class="product-div">
            <label class="title">Product Name<br /><span>Billing Model Name</span></label
            ><br />
            <label class="subTitle">Add a name to describe what your customers will subscribe to</label>
          </div>

          <div class="product-div">
            <label class="title new_title">Gas funding for EACH subscribed customer</label><br />
            <div class="table-responsive">
              <table class="BillingModelTable">
                <thead>
                  <tr>
                    <th>Purpose</th>
                    <th>Number of recurrences</th>
                    <th>Estimated Gas Cost/transaction (ETH)</th>
                    <th>Total Estimated Gas cost (ETH)</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td class="userId">Recurring pull transaction</td>
                    <td class="value-td">10</td>
                    <td class="value-td">0.00031</td>
                    <td class="value-td">0.00310</td>
                  </tr>
                  <tr>
                    <td class="userId">Transfers from PullPayment Account to Treasury</td>
                    <td class="value-td">1</td>
                    <td class="value-td">0.00031</td>
                    <td class="value-td">0.00031</td>
                  </tr>
                  <tr>
                    <td class="userId">Total</td>
                    <td class="value-td"></td>
                    <td class="value-td"></td>
                    <td class="total-td">0.418</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="product-div">
            <label class="title new_title">Contract QR code<span class="information-icon">i</span></label
            ><br />
            <label class="subTitle">Customers can scan the QR Code and approve it in their PumaPay Wallet app.</label>

            <div class="col-xs-12 col-sm-4 cols-md-4">
              <div class="QRCode"><img src="assets/images/QrCode.png" width="150" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
