<!-- - SINGLE -->

<div class="billingModelContainer">
  <div class="bm-header"><b>Billing Model Overview</b></div>

  <div class="bm-main flex-center-center">
    <div class="billingBoxCont">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 single-class">
          <div class="billingBox-single active">
            <div class="boxHead-single">
              <div class="ImgCont"><img src="assets/images/Vector.png" /></div>
              <span>Single</span>
            </div>

            <div class="boxCont">
              <div class="pad-l-20">
                <p>
                  Product<br />
                  <span>Billing Model</span>
                </p>
              </div>
              <div class="large">
                <div>
                  <div class="ImgCont"><img src="assets/images/Vector_black.png" /></div>
                  $4.99
                </div>
              </div>
              <div class="footerText">
                <p>115,011.88 PMA</p>
                <span>Subscribers 2.1K</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 cols-md-9">
          <div class="product-div">
            <label class="title">Product Name<br /><span>Billing Model Name</span></label
            ><br />
            <label class="subTitle"
              >Get full access to all new and past digital magazine issues! Enjoy the ultimate digital reading
              experience online or offline, on all your iOS and Android devices.</label
            >
          </div>

          <div class="product-div">
            <label class="title new_title">Gas funding for EACH subscribed customer</label><br />
            <div class="col-md-8">
              <div class="table-responsive">
                <table class="BillingModelTable">
                  <thead>
                    <tr>
                      <th class="text-left">Transaction</th>
                      <th>Total Estimated Gas cost (ETH)</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td class="userId text-left">Single Pull Transaction</td>
                      <td class="total-td">0.00031</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="product-div-1">
            <label class="title new_title">Contract QR code<span class="information-icon">i</span></label
            ><br />
            <label class="subTitle">Customers can scan the QR Code and approve it in their PumaPay Wallet app.</label>

            <div class="row">
              <div class="col-xs-12 col-sm-3 cols-md-3">
                <div class="QRCode"><img src="assets/images/QrCode.png" width="150" /></div>
              </div>
              <div class="col-xs-12 col-sm-9 cols-md-9">
                <div class="QRContent">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>

            <label class="title new_title">PAYMENT BUTTON<span class="information-icon">i</span></label
            ><br />
            <div class="paymentBtn row">
              <div class="col-md-3 logo3"><img src="assets/images/logo3.png" /></div>
              <div class="col-md-3 logo3"><img src="assets/images/logo2.png" /></div>
              <div class="col-md-3 logo3"><img src="assets/images/logo1.png" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- - SINGLE -->

<!-- - RECURRING -->

<div class="billingModelContainer">
  <div class="bm-header"><b>Billing Model Overview</b></div>

  <div class="bm-main flex-center-center">
    <div class="billingBoxCont">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 single-class">
          <div class="billingBox active">
            <div class="boxHead">
              <div class="ImgCont"><img src="assets/images/refresh.svg" width="15" /></div>
              <span>RECURRING</span>
            </div>

            <div class="boxCont">
              <div class="pad-l-20">
                <p>
                  Product<br />
                  <span>Platinum</span>
                </p>
                <a href="">1 year</a>
              </div>
              <div class="large">
                <div>
                  <div class="ImgCont"><img src="assets/images/refresh-b.svg" width="18" /></div>
                  $99.999
                </div>
              </div>
              <div class="footerText">
                <p>PMA 309,028.18</p>
                <span>Subscribers 3.5k</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 cols-md-9">
          <div class="product-div">
            <label class="title">Product Name<br /><span>Billing Model Name</span></label
            ><br />
            <label class="subTitle">Add a name to describe what your customers will subscribe to</label>
          </div>

          <div class="product-div">
            <label class="title new_title">Gas funding for EACH subscribed customer</label><br />
            <div class="table-responsive">
              <table class="BillingModelTable">
                <thead>
                  <tr>
                    <th>Purpose</th>
                    <th>Number of recurrences</th>
                    <th>Estimated Gas Cost/transaction (ETH)</th>
                    <th>Total Estimated Gas cost (ETH)</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td class="userId">Recurring pull transaction</td>
                    <td class="value-td">10</td>
                    <td class="value-td">0.00031</td>
                    <td class="value-td">0.00310</td>
                  </tr>
                  <tr>
                    <td class="userId">Transfers from PullPayment Account to Treasury</td>
                    <td class="value-td">1</td>
                    <td class="value-td">0.00031</td>
                    <td class="value-td">0.00031</td>
                  </tr>
                  <tr>
                    <td class="userId">Total</td>
                    <td class="value-td"></td>
                    <td class="value-td"></td>
                    <td class="total-td">0.418</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="product-div-1">
            <label class="title new_title">Contract QR code<span class="information-icon">i</span></label
            ><br />
            <label class="subTitle">Customers can scan the QR Code and approve it in their PumaPay Wallet app.</label>

            <div class="row">
              <div class="col-xs-12 col-sm-3 cols-md-3">
                <div class="QRCode"><img src="assets/images/QrCode.png" width="150" /></div>
              </div>
              <div class="col-xs-12 col-sm-9 cols-md-9">
                <div class="QRContent">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>

            <label class="title new_title">PAYMENT BUTTON<span class="information-icon">i</span></label
            ><br />
            <div class="paymentBtn row">
              <div class="col-md-3 logo3"><img src="assets/images/logo3.png" /></div>
              <div class="col-md-3 logo3"><img src="assets/images/logo2.png" /></div>
              <div class="col-md-3 logo3"><img src="assets/images/logo1.png" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="billingModelContainer">
  <div class="bm-main flex-center-center">
    <div class="transaction-table">
      <div class="row">
        <div class="col"><label>TRANSACTION HISTORY</label></div>
        <div class="col ">
          <div class="text-right">
            <ul class="pagination pagination-sm">
              <li class="page-item">
                <a class="page-link" href="#"><img src="assets/images/arrow-r.png"/></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link active" href="#">8</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><img src="assets/images/arrow-l.png"/></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <table class="table  table-responsive">
        <thead>
          <tr>
            <th>Date</th>
            <th>Payments Completed</th>
            <th>TxHash</th>
            <th>Customer ID</th>
            <th>PullPayments Account Address</th>
            <th>PMA Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>13 Jun</td>
            <td>(2/6)</td>
            <td class="txHash" (click)="txhash()">Oxdf4c18485dea496d6...</td>
            <td>723487</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>230,023.76</td>
          </tr>
          <tr>
            <td>13 Jun</td>
            <td>(2/6)</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>723487</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>230,023.76</td>
          </tr>
          <tr>
            <td>13 Jun</td>
            <td>(2/6)</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>723487</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>230,023.76</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- - RECURRING -->

<!-- - SINGLE + RECURRING -->

<div class="billingModelContainer">
  <div class="bm-header"><b>Billing Model Overview</b></div>

  <div class="bm-main flex-center-center">
    <div class="billingBoxCont">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 single-class">
          <div class="billingBox active">
            <div class="boxHead-sigleRecurring">
              <div class="ImgCont"><img src="assets/images/single+recurring.png" /></div>
              <span>SINGLE + RECURRING</span>
            </div>

            <div class="boxCont">
              <div class="pad-l-20">
                <p>
                  Product<br />
                  <span>Billing Model</span>
                </p>
                <a href="">6 months</a>
              </div>
              <div class="large">
                <div>
                  <div class="ImgCont"><img src="assets/images/single+recurring_Group.png" /></div>
                  $69.99
                </div>
                <div>
                  <div class="ImgCont"><img src="assets/images/Vector_black.png" /></div>
                  $29.99
                </div>
              </div>
              <div class="footerText">
                <p>115,011.88 PMA</p>
                <span>Subscribers 217</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 cols-md-9">
          <div class="product-div">
            <label class="title">Product Name<br /><span>Billing Model Name</span></label
            ><br />
            <label class="subTitle"
              >Description of your pricing plan. Make sure you describe what this billing model offers</label
            >
          </div>

          <div class="product-div">
            <label class="title new_title">Gas funding for EACH subscribed customer</label><br />
            <div class="table-responsive">
              <table class="BillingModelTable">
                <thead>
                  <tr>
                    <th>Purpose</th>
                    <th>Number of recurrences</th>
                    <th>Estimated Gas Cost/transaction (ETH)</th>
                    <th>Total Estimated Gas cost (ETH)</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td class="userId">Recurring pull transaction</td>
                    <td class="value-td">10</td>
                    <td class="value-td">0.00031</td>
                    <td class="value-td">0.00310</td>
                  </tr>
                  <tr>
                    <td class="userId">Transfers from PullPayment Account to Treasury</td>
                    <td class="value-td">1</td>
                    <td class="value-td">0.00031</td>
                    <td class="value-td">0.00031</td>
                  </tr>
                  <tr>
                    <td class="userId">Total</td>
                    <td class="value-td"></td>
                    <td class="value-td"></td>
                    <td class="total-td">0.418</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="product-div-1">
            <label class="title new_title">Contract QR code<span class="information-icon">i</span></label
            ><br />
            <label class="subTitle">Customers can scan the QR Code and approve it in their PumaPay Wallet app.</label>

            <div class="row">
              <div class="col-xs-12 col-sm-3 cols-md-3">
                <div class="QRCode"><img src="assets/images/QrCode.png" width="150" /></div>
              </div>
              <div class="col-xs-12 col-sm-9 cols-md-9">
                <div class="QRContent">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                  </p>
                </div>
              </div>
            </div>

            <label class="title new_title">PAYMENT BUTTON<span class="information-icon">i</span></label
            ><br />
            <div class="paymentBtn row">
              <div class="col-md-3 logo3"><img src="assets/images/logo3.png" /></div>
              <div class="col-md-3 logo3"><img src="assets/images/logo2.png" /></div>
              <div class="col-md-3 logo3"><img src="assets/images/logo1.png" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="billingModelContainer">
  <div class="bm-main flex-center-center">
    <div class="transaction-table">
      <div class="row">
        <div class="col"><label>TRANSACTION HISTORY</label></div>
        <div class="col ">
          <div class="text-right">
            <ul class="pagination pagination-sm">
              <li class="page-item">
                <a class="page-link" href="#"><img src="assets/images/arrow-r.png"/></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link active" href="#">8</a></li>
              <li class="page-item"><a class="page-link" href="#">9</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><img src="assets/images/arrow-l.png"/></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <table class="table  table-responsive">
        <thead>
          <tr>
            <th>Date</th>
            <th>Payments Completed</th>
            <th>TxHash</th>
            <th>Customer ID</th>
            <th>PullPayments Account Address</th>
            <th>PMA Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>13 Jun</td>
            <td>(2/6)</td>
            <td class="txHash" (click)="txhash()">Oxdf4c18485dea496d6...</td>
            <td>723487</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>230,023.76</td>
          </tr>
          <tr>
            <td>13 Jun</td>
            <td>(2/6)</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>723487</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>230,023.76</td>
          </tr>
          <tr>
            <td>13 Jun</td>
            <td>(2/6)</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>723487</td>
            <td class="txHash">Oxdf4c18485dea496d6...</td>
            <td>230,023.76</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- - SINGLE + RECURRING -->
