<div class="mainContent">
  <label class="titleOne">GAS FUNDING FOR EACH SUBCRIBED CUSTOMER</label>
  <div class="sTable">
    <div class="row">
      <div class="bgSet col-md-3">Transation</div>
      <div class="bgSet col-md-3">Total Estimated Gas cost (ETH)</div>
    </div>
    <div class="row">
      <div class="bgSet col-md-3">Single Pull Transaction</div>
      <div class="bgSet2 col-md-3">0.00031</div>
    </div>
  </div>
  <div class="txtContent">
    <img src="assets/images/info.png" class="info" />
    <label class="titleFun">Funding the PullPayment Accounts with Gas</label>
    <label class="titleContent">
      Every time a new customer subscribes to a billing model, the system creates a new PullPayment account. The
      PullPayment account will continuously bill the customer according to the billing model’s parameters. The PMA
      tokens will be kept in the PullPayment account until they are transferred to the Treasury.
    </label>
    <label class="titleContent"
      >Choose how often you want to transfer funds from all the PullPayment accounts associated with this billing model
      to your Treasury. Depending on your choice, the specific amount of ETH is allocated for those recurring payments
      to pay for the gas fees of the transfer to the Treasury.
    </label>
    <label class="tContent"> Learn more </label>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <button class="backbtn" routerLink="/billing/step3">back</button> <button class="continuebtn">Publish</button>
  </div>
</div>
