<div class="main-menu menu-fixed menu-light menu-accordion" data-scroll-to-active="true">
  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="nav-item">
        <a routerLink="./get-payments" routerLinkActive="active">
          <i class="la la-credit-card"></i> <span class="menu-title" data-i18n="">View Payments</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="./smart-contract" routerLinkActive="active">
          <i class="fa fa-credit-card"></i> <span class="menu-title" data-i18n="">Smart Contracts</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="./generate-api-key" routerLinkActive="active">
          <i class="la la-key"></i> <span class="menu-title" data-i18n="">Get API Key</span>
        </a>
      </li>
    </ul>
  </div>
</div>
