.dashboardContainer{
    height:auto;
    padding:24px 46px;
    background-color:#FFFFFF;
    label{
        font-size:13px;
        margin-bottom:5px;
    }
    .transaction-table{
        margin-top:50px;
        label{margin-bottom:0px;}
        table{
            border:1px solid #C4C8D1;
            thead{
                width:100%;
                tr{
                    th{ font-size:15px; font-weight:normal;}
                }
            }
            tbody{
                width:100%;
                tr{
                    td{ font-size:14px;}
                    background-color:#F4F6FB;
                }
            }
        }
    }
    .pma-box{
        width:100%;
        margin-bottom:30px;
        background-color:#D8E0EF;
        height: 110px;
        border-radius:5px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding:25px;
        h3{font-size:20px;     margin-bottom: 2px; color:#333333;}
        p{font-size:18px;     margin-bottom: 0px; color:#333333;}

    }
    .pma-box.active{
        background-color:#1C67F5;
        h3{ color:#ffffff;}
        p{ color:#ffffff;}
    }
    .qrCodeContainer{
        .qrCont{
            margin-top:10px;
            img{
                margin-right:20px;
                width:120px;
            }
            .qrContents{
                display:inline-block;
                vertical-align:top;
                position:relative;
                height:120px;
                p{
                    font-size:13px;
                    color:#9B9B9B;
                }
                .qrCodeField{
                    position:absolute;
                    bottom:0px;
                    input{
                        width:300px;
                        height:40px;
                        padding:0px 50px 0px 10px;
                        border: 1px solid #CCCCCC;
                        
                    }
                    img{
                        height:43px;
                        width:43px;
                        position:absolute;
                        right:-3px;
                        margin-right:0px;
                    }
                }
            }
        }
    }
    ul.pagination{
        margin-bottom:6px;
        float:right;
        li{
            padding:6px 1px;
            a{
                border:none;
                border-radius:50%;
            }
            a.active{
                background-color:#1C67F5;
                color:#FFFFFF;
            }
        }
    }
    ul.pagination li:first-child , ul.pagination li:last-child {padding:0px; }
    
}