<section class="dashboardContainer">
  <div class="row">
    <div class="col">
      <label>TREASURY</label>
      <div class="pma-box active">
        <div>
          <h3>PMA</h3>
          <p>8,394,788.77</p>
        </div>
      </div>
    </div>
    <div class="col">
      <label>PULLPAYMENTS</label>
      <div class="pma-box">
        <div>
          <h3>PMA</h3>
          <p>{{ pullPaymentAmount ? pullPaymentAmount : '0.0' }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <label>GAS WALLET</label>
      <div class="pma-box active">
        <div>
          <h3>ETH</h3>
          <p>54,892.31</p>
        </div>
      </div>
    </div>
  </div>
  <div class="qrCodeContainer">
    <label>EXTERNAL WALLET FUNDING</label>
    <div class="qrCont">
      <img src="assets/images/qr-code.png" />
      <div class="qrContents">
        <p>Scan the QR Code to send funds to your Wallet and <br />refill your Transfer Gas tank</p>
        <div class="qrCodeField"><input type="text" /> <img src="assets/images/copy.png" /></div>
      </div>
    </div>
  </div>

  <div class="transaction-table">
    <div class="row">
      <div class="col"><label>TRANSACTION HISTORY</label></div>
      <div class="col ">
        <div class="text-right">
          <ul class="pagination pagination-sm">
            <li class="page-item">
              <a class="page-link" href="#"><img src="assets/images/arrow-r.png"/></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link active" href="#">8</a></li>
            <li class="page-item"><a class="page-link" href="#">9</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><img src="assets/images/arrow-l.png"/></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <table class="table  table-responsive">
      <thead>
        <tr>
          <th>Date</th>
          <th>Billing Model</th>
          <th>Status</th>
          <th>TxHash</th>
          <th>Customer ID</th>
          <th>PullPayments Account Address</th>
          <th>PMA Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13 Jun</td>
          <td>Gold</td>
          <td>(2/6)</td>
          <td>Oxdf4c18485dea496d6...</td>
          <td>723487</td>
          <td>Oxdf4c18485dea496d6...</td>
          <td>230,023.76</td>
        </tr>
        <tr>
          <td>13 Jun</td>
          <td>Gold</td>
          <td>(2/6)</td>
          <td>Oxdf4c18485dea496d6...</td>
          <td>723487</td>
          <td>Oxdf4c18485dea496d6...</td>
          <td>230,023.76</td>
        </tr>
        <tr>
          <td>13 Jun</td>
          <td>Gold</td>
          <td>(2/6)</td>
          <td>Oxdf4c18485dea496d6...</td>
          <td>723487</td>
          <td>Oxdf4c18485dea496d6...</td>
          <td>230,023.76</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
