<div class="billingModelContainer">
  <div class="bm-header"><b>Single Billing Models</b></div>

  <div class="bm-main flex-center-center">
    <div class="billingBoxCont">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
          <label>Amount charged</label>
          <div class="row ">
            <div class="col-xs-12 col-sm-3 col-md-3">
              <select name="Ruppes">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="JPY">JPY</option>
              </select>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 amountinput">
              <input class="input" id="amount" placeholder="$ 0.00" name="amount" />
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4"><img src="assets/images/Single_billing.png" class="singleimg" /></div>

        <div class="col-xs-12 col-sm-12 col-md-12">
          <button class="backbtn">back</button> <button class="continuebtn">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
