$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts";

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue: #0073dd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;

$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);
$primary: $cyan;
$secondary: $gray-600;
$success: $green;
$info: $blue;
$warning: $orange;
$danger: $red;
$light: $gray-100; // $gray-100
$dark: $gray-800; // $gray-dakr

$grid-columns: 12;
$grid-gutter-width: 20px;

$line-height-lg: 1.25;
$line-height-sm: 1;

$border-width: 1px;
$border-color: $gray-300;

$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  sans-serif;
$font-family-monospace: "Lato", Georgia, "Times New Roman", Times, serif;

$font-family-base: $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * 0.875);

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.45;

$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 0.75rem;
$input-btn-line-height-sm: $line-height-sm;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 1.25rem;
$input-btn-line-height-lg: $line-height-lg;

$input-btn-border-width: $border-width;

$body-direction: ltr; // Default ltr, change it to rtl for Right To Left support.
//	------------------------------
//	  Colors
//	------------------------------
$content-bg: #f1f3f8; //#F2F5F8 //#F1F4F4
$white: #ffffff;
$black: #000000;
$border-color: #e4e5ec;
$transparent: transparent;
//	------------------------------
//	  Buttons
//	------------------------------
$btn-border-radius-square: 0;
$btn-border-radius-round: 2rem;
//	------------------------------
//	  Navbar
//	------------------------------
$navbar-height: 5rem;
$navbar-light-bg: $white;
$navbar-dark-bg: #2c303b;
$navbar-header-width: 210px;
//	------------------------------
//	  Main Menu
//	------------------------------
//main menu light
$menu-light-bg: $white;
$menu-light-color: $gray-600;
//main menu dark
$menu-dark-bg: #2c303b;
$menu-dark-color: #dcdcdc;
$menu-padding: 12px 30px 12px 18px;
$menu-second-level-padding: 8px 18px 8px 54px;
$menu-third-level-padding: 8px 18px 8px 64px;
$menu-forth-level-padding: 8px 18px 8px 74px;
// vertical menu
$menu-expanded-width: 210px;
$menu-collapsed-width: 60px;
// vertical overlay menu
$overlay-menu-width: 210px;
// vertical compact menu
$compact-menu-width: 130px;
// vertical mm menu
$mm-expanded-width: 210px;
$mm-collapsed-width: 210px;
// vertical menu
$content-menu-expanded-width: 210px;
$content-menu-collapsed-width: 65px;
// menu search
$menu-search-height: 70px;
//Main menu footer
$menu-footer-height: 15px;
$menu-footer-color: $white;
$menu-footer-color-bg: #2c303b;
$menu-footer-link-bg: rgb(33, 41, 46);
$menu-footer-link-hover-bg: rgb(30, 36, 39);
//Footer color
$footer-color-light-bg: $white;
$footer-color-dark-bg: #2c303b;
//	------------------------------
//	  Sideber
//	-------------------------------
$sidebar-width: 300px;
//	-------------------------------
//	  Avatar
//	-------------------------------
$avatar-size: 30px;
$avatar-status-size: 8px;
$avatar-size-lg: 144px;
$avatar-status-size-lg: 20px;
$avatar-size-md: 40px;
$avatar-status-size-md: 10px;
$avatar-size-sm: 32px;
$avatar-status-size-sm: 8px;
$avatar-size-xs: 24px;
$avatar-status-size-xs: 7px;
$avatar-size-50: 50px;
$avatar-status-size-50: 10px;
$avatar-size-100: 100px;
$avatar-status-size-100: 20px;
$avatar-online-color: $success;
$avatar-off-color: $gray-100;
$avatar-busy-color: $danger;
$avatar-away-color: $warning;
//	-------------------------------
//	Progress
//	-------------------------------
$progress-size-xl: 2rem;
$progress-size-lg: 1.5rem;
$progress-size-md: 1rem;
$progress-size-sm: 0.5rem;
$progress-size-xs: 0.25rem;
//	-------------------------------
//	Form
//	-------------------------------
// $input-height, $input-height-lg, $input-height-sm are in variables
$font-size-xs: 0.75rem;
$font-size-xl: ($font-size-base + 0.5);
$line-height-xl: 1.7;
$line-height-xs: 1.5;
$input-padding-y-xl: 0.5rem !default;
$input-padding-x-xl: 0.5rem !default;
$input-padding-y-xs: 0.2rem !default;
$input-padding-x-xs: 0.275rem !default;
$border-radius-xl: 0.35rem !default;
$border-radius-xs: 0.12rem !default;
$input-border-radius-xl: $border-radius-xl;
$input-border-radius-xs: $border-radius-xs;
// $input-height-xl: (($font-size-xl * $line-height-xl) + ($input-padding-y-xl * 2)) !default;
// $input-height-xs: (($font-size-xs * $line-height-xs) + ($input-padding-y-xs * 2)) !default;
// $input-height-sm: (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;
$table_border_color: #e3ebf3;

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
