@font-face {
  font-family: "SourceSansPro";
  src: url("assets/fonts/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "notoSansRegular";
  src: url("assets/fonts/Noto_Sans/NotoSans-Regular.ttf");
}

body {
  background-color: #f4f6fb;
  font-family: "notoSansRegular";
}
.color-white {
  color: white;
}

.primary-button {
  width: 100px;
  height: 40px;
  border-radius: 5%;
  background: #1e69f6 !important;
  border-color: #1e69f6 !important;
  color: #ffffff;
  &.selected {
    background: #ffffff !important;
    color: #1e69f6;
  }
}

.modal-content {
  border-radius: 15px;
  display: flow-root;
  border: 0px;
  width: fit-content;
}

.logo-container img {
  max-width: 250px;
}

// override ng-tabs

.nav-tabs .nav-link.active {
  background-color: transparent;
  border: none;
}

.default-selected-option {
  color: #c4c4c4;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}

.custom-dropdown-select {
  &.ng-invalid,
  &.ng-untouched {
    color: #c4c4c4 !important;
    font-size: 15px;
    line-height: 18px;
    text-align: left;
  }
}

.invalid-feedback {
  padding-left: 10px;
  color: #fff;
}
.modal-content {
  border-radius: 15px;
  display: flow-root;
  position: fixed;
  left: 30%;
  top: 30%;
  width: max-content !important;
}
ngx-spinner > div {
  position: relative !important;
}
div.container.modal-header {
  padding-bottom: 0px;
}
div.modal-body {
  padding-top: 0px;
}

.alert-custom-confirm-button {
  width: 124px;
  height: 40px;
  border-radius: 3px !important;
  border: 2px solid #1c67f5 !important;
  background: transparent !important;
  color: #1c67f5 !important;
  margin-top: 40px !important;
}

.swal2-popup .swal2-title {
  margin-bottom: 30px !important;
}

.form-control {
  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.form-content {
  .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
  }
  h3 {
    color: #1c67f5;
    text-align: left;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 40px;
    &.form-title {
      margin-bottom: 30px;
    }
  }
  p {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
    &.form-subtitle {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  label {
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 20px;
    fill: #333;
    padding-left:0px;
    margin-bottom: 6px;
  }
  .page-links {
    margin-bottom: 34px;
    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      font-weight: 300;
      font-size: 15px;
      margin-right: 20px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:last-child {
        margin-right: 0;
      }
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -10px;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      &.active {
        font-weight: 700;
      }
    }
  }

  input,
  .dropdown-toggle.btn-default,
  select.custom-select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    outline: 0;
    border-radius: 2px;
    font-size: 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 0;
    background-color: #fff;
    color: #000;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;

    &::-webkit-input-placeholder {
      color: #556486;
    }
    &:-ms-input-placeholder {
      color: #556486;
    }
    &::-moz-placeholder {
      color: #556486;
    }
    &:-moz-placeholder {
      color: #556486;
    }

    &.placeholder-color {
      color: #556486;
      font-weight: 300;
    }
  }
  input {
    -webkit-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
  }
}


.form-content input[type="checkbox"],
.form-content input[type="radio"] {
  width: auto;
}

.form-content input[type="checkbox"]:not(:checked),
.form-content input[type="checkbox"]:checked,
.form-content input[type="radio"]:not(:checked),
.form-content input[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

.form-content input[type="checkbox"]:not(:checked) + label,
.form-content input[type="checkbox"]:checked + label,
.form-content input[type="radio"]:not(:checked) + label,
.form-content input[type="radio"]:checked + label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  display: inline;
  font-size: 14px;
  font-weight: 700;
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-content input[type="checkbox"]:checked + label:before,
.form-content input[type="radio"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  border: 0px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content input[type="checkbox"]:not(:checked) + label:before,
.form-content input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 15px;
  height: 15px;
  background: transparent;
  border-radius: 50px;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-content input[type="checkbox"]:not(:checked) + label:after,
.form-content input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.form-content input[type="checkbox"]:checked + label:after,
.form-content input[type="checkbox"]:not(:checked) + label:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 600;
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 9px;
  line-height: 14px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-content input[type="checkbox"]:checked + label:before {
  border-radius: 4px;
}

.form-content input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 4px;
}

.form-content input[type="radio"]:checked + label:after,
.form-content input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-content input[type="checkbox"]:disabled + label,
.form-content input[type="radio"]:disabled + label {
  opacity: 0.6;
}

.form-content .custom-options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.form-content .custom-options input[type="checkbox"],
.form-content .custom-options input[type="radio"] {
  width: auto;
}

.form-content .custom-options input[type="checkbox"]:not(:checked),
.form-content .custom-options input[type="checkbox"]:checked,
.form-content .custom-options input[type="radio"]:not(:checked),
.form-content .custom-options input[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

.form-content .custom-options input[type="checkbox"]:not(:checked) + label,
.form-content .custom-options input[type="checkbox"]:checked + label,
.form-content .custom-options input[type="radio"]:not(:checked) + label,
.form-content .custom-options input[type="radio"]:checked + label {
  position: relative;
  padding-left: 0;
  cursor: pointer;
  display: inline;
  color: #606060;
  font-size: 13px;
  font-weight: 400;
  margin-left: 0;
  border-radius: 5px;
  padding: 4px 10px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-grow: 1;
  text-align: center;
}

.form-content .custom-options input[type="checkbox"]:not(:checked) + label:last-child,
.form-content .custom-options input[type="checkbox"]:checked + label:last-child,
.form-content .custom-options input[type="radio"]:not(:checked) + label:last-child,
.form-content .custom-options input[type="radio"]:checked + label:last-child {
  margin-right: 0;
}

.form-content .custom-options input[type="checkbox"]:checked + label,
.form-content .custom-options input[type="radio"]:checked + label {
  background-color: #57d38c;
  font-weight: 400;
  -webkit-box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
  box-shadow: 0 3px 8px rgba(74, 230, 142, 0.35);
}

.form-content .custom-options input[type="checkbox"]:checked + label:before,
.form-content .custom-options input[type="radio"]:checked + label:before {
  display: none;
}

.form-content .custom-options input[type="checkbox"]:not(:checked) + label:before,
.form-content .custom-options input[type="radio"]:not(:checked) + label:before {
  display: none;
}

.form-content .custom-options input[type="checkbox"]:not(:checked) + label:after,
.form-content .custom-options input[type="radio"]:not(:checked) + label:after {
  display: none;
}

.form-content .custom-options input[type="checkbox"]:checked + label:after,
.form-content .custom-options input[type="checkbox"]:not(:checked) + label:after {
  display: none;
}

.form-content .custom-options input[type="radio"]:checked + label:after,
.form-content .custom-options input[type="radio"]:not(:checked) + label:after {
  display: none;
}

.forgot-password-link {
  border-radius: 6px;
  border: 0;
  padding: 6px 28px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;
}

.form-content .form-button .ibtn {
  border: 0;
  line-height: 33px;
  height: 33px;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 106px;
  padding: 0 28px;
  background-color: #1e6af6;
  color: #fff;
}

.form-content .form-button .ibtn:last-child {
  margin-right: 0;
}

.form-content .form-button .ibtn:hover,
.form-content .form-button .ibtn:focus {
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

.form-content .btn {
  border-radius: 6px;
  padding: 6px 28px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  border: 0;
}

.form-content .btn:last-child {
  margin-right: 0;
}

.form-content .other-links span {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin-right: 20px;
}

.form-content .other-links a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
}

.form-content .other-links a:last-child {
  margin-right: 0;
}

.form-content .other-links a i {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  margin: 0 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-static, .footer-static span, .footer-static a{

  font-family: "notoSansRegular" !important;
}
.footer-static a{
  position: relative;
  top:-3px;
}
