<footer class="footer footer-static footer-light">
  <p class="clearfix lighten-2 text-sm-center mb-0 px-2">
    <span class="float-md-left d-block d-md-inline-block"
      ><a class="text-bold-800 grey darken-2" href="https://pumapay.io/" target="_blank">PumaPay</a> &copy; 2018 All
      Rights Reserved.
    </span>
    <span class="d-block d-md-inline-block social-icons-container">
      <a href="https://www.facebook.com/PumaPay/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/company/decentralized-vision/"
        ><i class="fa fa-linkedin" aria-hidden="true"></i
      ></a>
      <a href="https://twitter.com/pumapay"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://t.me/PumaPay"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
    </span>
    <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block link-block"
      ><a href="https://pumapay.io/company">Company</a> | <a href="https://pumapay.io/product">Product</a> |
      <a href="https://pumapay.io/solution">Solution</a> | <a href="https://pumapay.io/news">News</a> |
      <a href="https://pumapay.io/contact">Contact</a></span
    >
  </p>
</footer>
